input[type="checkbox"],
input[type="radio"] {
  display: none;
}

ul label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

/*margin*/
.m_20 {
  margin-bottom: 10px;
}
.m_10 {
  margin-bottom: 10px;
}
.mt_21 {
  margin-top: 20px;
}
.mt_20 {
  padding-top: 20px;
}

/*container*/
#petInfoFrm {
  width: 600px;
  margin: 20px 0px 20px 430px;
}

.petInfo_container {
  width: 600px;
}
.img_container {
  display: flex;
  justify-content: center;
}

/*select box*/
.selectBox {
  width: 600px;
  height: 60px;
  font-size: 14px;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
  -moz-appearance: none; 
   appearance: none;
   background: url("/petbreedding/resources/images/arrow.jpg") no-repeat 100% 50%; /* 화살표 모양의 이미지 */
   padding:10px;
}

.selectTime {
  float: left;
  margin-right: 15px;
  width: 190px;
}

#DATE {
  margin-right: 0px;
}

/*list*/
.genderList {
  float: left;
  border: 1px solid var(--border-color);
  margin-right: 15px;
  width: 188px;
  text-align: center;
  cursor: pointer;
  height: 60px;
  line-height: 60px;
}

.hateList, .otherslist {
  float: left;
  border: 1px solid var(--border-color);
  width: 102px;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
  height: 60px;
  line-height: 60px;
}



.list_neut,
.hateListL,
.otherslistL {
  margin-right: 0px;
}

/*에러 메세지*/
.errorMsg {
  display: none;
}

/*register button*/
#petInfo_register {
  width: 600px;
  padding: 20px;
  font-size: 16px;
}

.selectOpt input:checked + li {
  background: var(--hover-color);
  color: var(--font-color);
  border: 1px solid var(--hover-color);
}

#browseBtn {
  cursor: pointer;
  position: absolute;
  right: 216px;
  top: 0px;
  border: 1px solid var(--button-color);
  border-radius: 50%;
  color: var(--button-color);
  padding: 5px;
}

#realInput {
  display: none;
}

.imgTd {
  position: relative;
}

.imgContainer {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
  border: 1px solid var(--border-color);
  margin: 0 auto;
}

.imgBox {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.check_font{
	margin-bottom:10px;
}