@charset "UTF-8";

.basicBtn{
  width: 80px;
  height: 35px;
  border-radius: 10px;
  font-family: "GmarketB"
 
}

/**MBOARDCON*/
.conwrap{
    margin-left: 30px;
}
.conhead{
    margin-bottom: 100px;
}
.conhead p:nth-child(1){
    font-weight: bold;
}
.conhead p:nth-child(2){
    font-size: 30px;
    font-family: "GmarketB";
    word-spacing: -5px;
}
.conhead p:nth-child(3){
    font-size: 15px;
    font-family: "GmarketB";
    word-spacing: -5px;
    float: left;
    margin-right: 60px;
}
.conhead p:nth-child(4){
    font-size: 15px;
    font-family: "GmarketB";
    word-spacing: -5px;
    float: left;
}

.conbtn{
    margin-bottom: 70px;
}

#listBtn{
    
    float: left;
}
#updeteBtn, #delBtn{
    float: right;
    margin-right: 20px;
}


#submitbtn{
    margin-left: 10px;
    width: 120px;
    height: 70px;
    border-radius: 20px;
    font-size: 15px;
}
.mContent {
    margin-top: 0px;
    padding-left: 0px;
}

/* MODAL */
#my_modal {
    display: none;
    width: 500px;
    height: 200px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}
#my_modal h1{
    text-align: center;
}
#my_modal p {
    text-align: center;
}
#my_modal #closeBtn{
    cursor: pointer;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#my_modal button {
    width: 200px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 30px;
    
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
}
#goTOPay{
    border: none;
    color: var(--font-color);
    background-color: var(--button-color);
}
#goTOPay:hover{
    background-color: var(--hover-color);
}
#nextTime{
    background-color: var(--font-color);
    border: 1px solid var(--button-color);
}
#nextTime:hover{
    border: 1px solid var(--hover-color);
}

