@charset "UTF-8";
#petbreedding{
	padding: 200px;
	heigth: 400px;
}
#petIntro{
	padding: 100px;
	height:200px;
}
#dev{
    padding-top: 200px;
	height:800px;
	width:1130px;
}
.con {
	text-align:center;
}

#mem1 {
	width: 900px;
	margin: 0 auto;
	overflow:hidden;
}
#mem2{
	width: 600px;
	margin: 0 auto;
	overflow:hidden;
}
.member {
	width: 300px;
	float:left;
}
.member img{
	width: 300px;
}