@charset "UTF-8";
/* 어사이드 넓이 지정 */
.mAside{
    width: 100px;
    box-sizing: border-box;
    float: left;
    margin-right:30px;
    
}
.mAside .menu p {
    margin-top: 5px;
}
.mMenu{
    width: 100px;
    float: left;
    border: 1px solid var(--bmenu-color);
}
.mAside .menu{
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid var(--bmenu-color);
    padding-top: 20px;
}

.mAside .menu:hover{
    color: var(--font-color);
    background-color: var(--bmenu-color);
}

.nowOn,.activeMenu{
    color: var(--font-color);
    background-color: var(--bmenu-color);
}

.mSideMenu{
    width: 200px;
    float: left;
    border: 1px solid var(--bmenu-color);
    border-left:none;
    display: none;
}
.mBox{
    width: 150px;
    margin: 0 auto;
}
.mBox p {
    font-size: 24px;
}
.mBox .bs{
    cursor: pointer;
    padding-bottom: 20px;
}
.mBox .bs:hover{
    color: var(--hover-color);
}

/* bContent 넓이 지정 */
.mContent {
	overflow: hidden;
    width: 950px;
    margin-top: 30px;
    padding-left: 30px;
}


/* section padding 다시 설정 */
.section{
    padding-bottom: 126px;
}
