<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Modify">
 
  <!-- 사용자 회원정보 수정 -->
  <update id="modifyClient" parameterType="Client" statementType="PREPARED" >
  	UPDATE client 
  	SET CL_NAME = #{name}, CL_PWD = #{password}, 
  		CL_NICKNAME = #{nickname},
  		CL_TEL = #{tel}
  	WHERE CL_EMAIL = #{email} AND CL_NUM = #{cl_num}
  </update>
  
  <!-- 사업자 정보 수정 -->
  <update id="modifyBP" parameterType="BPartner" statementType="PREPARED" >
  	UPDATE business_partner 
  	SET BP_NAME = #{bp_name}, BP_PWD = #{bp_pwd}, BP_TEL = #{bp_tel},BP_BANK = #{bp_bank}, BP_ACNT = #{bp_acnt}
  	WHERE BP_EMAIL = #{bp_email} AND BP_ID = #{bp_Id}
  </update>
  
  
  
  
</mapper>
