@charset "UTF-8";
/* aside 색입히기~ */
#mSales{
    color: var(--font-color);
    background-color: var(--bmenu-color);
}

.section{
    padding-bottom: 200px;
}
.bbox{
    width: 400px;
    box-sizing: border-box;
    float: left;
    margin-left: 30px;
}
.bbox h4{
    display: inline-block;
}
.bbox h4 span{
    font-size: 12px;
    color: var(--border-color);
    padding-left: 5px;
}
.tbox{
    clear: both;
    width: 900px;
    box-sizing: border-box;
    margin-left: 30px;
}
.tbox h4{
    display: inline-block;
}
.yearSalesBox {
    margin-left: 20px;
    width: 830px;
    height: 200px;
    border: 1px solid var(--border-color);
}

.box{
	width: 400px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid var(--border-color);
}
.box figure{
	margin: 0;
}
.graphBox{
    margin-top: 40px;
    width: 400px;
    height: 300px;
    border: 1px solid var(--border-color);
    float: left;
    margin-left: 20px;
}
.mContent{
    margin-top: 0;
}