@charset "UTF-8";

/*매장 마진*/
.store_area{
    margin: 150px 50px;
}

/*각 카테고리 공통 마진*/
.store_menu_article, .store_review_article, .store_map_article{
    margin-top: 100px;
   
}


/*매장 사진, 정보*/
.store_info_article{
    position: relative;
}
.store_img,.store_name, .store_tel, .store_info, .store_btn{
    display: inline-block;
}
.store_name, .store_tel, .store_info, .store_btn{
    margin-left: 200px;
}

.store_name{
    position: absolute;
}
.store_tel{
    position: absolute;
    top: 70px; 
}
.store_info{
    position: absolute;
    top: 100px; 
}
/*버튼*/
.store_btn{
    position: absolute;
    bottom: 5px;
}
.sBtn{
    display: inline-block;
    width: 100px;
    background: var(--button-color);
    color: var(--font-color);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
.sBtn:hover{
    background: var(--hover-color);
}
#goRev{
    margin-left: 20px;
}
#zzim{
    display: inline-block;
    margin-left: 30px;
    width: 30px;
    border: solid 1px #707070;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    cursor:pointer;
}
#heartOn{
    display: none;
}

/*메뉴*/

.store_menues{
    margin-left: 70px;
}
.menu_box{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #707070;
    padding: 10px;
    width: 150px !important;
}
.menu_item{}
.menu_time{margin-left: 60px;}
.menu_price{}

.swiper-container {overflow: visible;}
.swiper-slide {
    opacity:0.4; 
    transition:opacity 0.3s; 
}
/*슬라이드 화면 안에 들어온거는 흐림효과 하지말기~*/
.swiper-slide-active,
.swiper-slide-active + .swiper-slide,
.swiper-slide-active + .swiper-slide + .swiper-slide,
.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {opacity:1}

/*리뷰*/

.reviewsBox{
    margin-top: 20px;
    border: 1px solid #707070;
    box-sizing: border-box; 
}
.avgStar{
    margin-top: 60px;
    margin-left: 100px;
}
.rate{ 
    color: var(--hover-color);
    font-size: 27px;
}
.rateScore{
    margin-left: 30px;
    font-size: 24px;
}
#checkPhoto{ margin-left: 50px;}
.reviewOpt {
    margin-top: 50px;
}
.reviewOpt label{
    font-size: 14px;
}
.checkOpts{
    display: inline-block;
    margin-left: 763px;
    margin-bottom: 10px;
}
.checkOpt{
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}
.checkOpt:hover{
    color: var(--hover-color);
}

.clickNum {
	cursor: pointer;
}

/*각각 리뷰*/
.review{
    margin: 50px;
    box-sizing: border-box;
    position: relative;
}
.star_img i, .reviewScore{
    font-size: 14px;
}
.reviewInfo, .replyInfo{
    color: #707070;
    font-size: 14px; 
}
.reviewDate, .replyDate{
    margin-left: 50px;
}
.reviewWord{
    display: inline-block;
}
.review_imgBox{
    display: inline-block;
    position: absolute;
    right: 0;
}
.review_img {
	width: 150px;
	height: 100px;
}

/*답글*/
.reply{
    margin: 50px;
    border: 1px solid #707070;
    padding: 30px;
}
.replyInfo{
    margin-top: 30px;
}

/*오시는길*/
.storeMapBox{
    border: solid 1px #707070;
    padding: 50px;
}
.mapBox{
    width: 600px;
    height: 400px;
    border: 1px solid #707070;
    margin: 0 auto;
}
.storeInfo{
    margin-top: 60px;
    margin-left: 140px;
}



